<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Categoria</th>
      <th scope="col">Descrição</th>
      <th scope="col">Preço</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produto">
      <th scope="row">{{produto.id}}</th>
      <td>{{produto.nome}}</td>
      <td>{{produto.categoria}}</td>
      <td>{{produto.descricao}}</td>
      <td>{{produto.preco}}</td>
    </tr>
  </tbody>
</table>

